@blanco: '#fff';
@negro: '@000';
@body_background_color: '#f2f2f2';
@box_header_background: '#52754F';
@box_up_background_color: '#ededed';
@box_bottom_background_color: '#e6e6e6';
@menu: '#666666';
@menu_habitaciones_color: "#333333";
@banner_premios: '#4d4d4d';
@banner_premios_font: 'Myriad pro';
@banner_premios_titulo: '#333333';
@texto_boxes: '#808080';
@footer_emphasis: "#4d4d4d";
@footer: "#999999";
@bottom_border_footer: "#083a04";
@galeria_titulos: "#4b4b4d";

@font_size_menu: "18px";
@font_size_big: "16px";
@font_size_mid: "13px";
@font_size_small: "12px";